<div class='block'>
<div class='content'>
<div class='right' id='summary'>
	<h2>Accès rapide :</h2>
	<ol>
		<li><a href="#pi">Propriété intellectuelle</a></li>
		<li><a href="#liens">Liens hypertextes</a></li>
		<li><a href="#responsabilite">Responsabilité de l’éditeur</a></li>
		<li><a href="#acces">Accès au site</a></li>
		<li><a href="#modification">Modification des conditions d’utilisation</a></li>
		<li><a href="#regles">Règles d'usage d'Internet</a></li>
		<li><a href="#droit">Droit applicable</a></li>
		<li><a href="#charte">Charte données personnelles et cookies</a></li>
		<li><a href="#protection">Protection des données
		<li><a href="#conduite">Chartre de bonne conduite de l'Utilisateur MommyVille</a></li>
		<li><a href="#violence">Violence et harcèlement</a></li>
		<li><a href="#nudite">Nudité</a></li>
		<li><a href="#anonymat">Anonymat et respect de la vie privée</a></li>
		<li><a href="#demarchage">Démarchage commercial et utilisation du MommyMap</a></li>
	</ol>
</div>
<div class='with-summary'>
<h1 class='without-avatar'>Conditions générales d'utilisation</h1>
<p></p>
<p>Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,  MommyVille met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.<br/>
Toute connexion au site est subordonnée au respect des présentes conditions.<br/>
Pour l’utilisateur, le simple accès au site de MommyVille à l’adresse URL suivante www.mommyville.fr  implique l’acceptation de l’ensemble des conditions décrites ci-après.</p>
<p></p>
<span class="anchor" id="pi"></span>
<h2>Propriété intellectuelle</h2>
<p></p>
<p>La structure générale du site MommyVille , ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale des contenus et services proposés par le site MommyVille, par quelque procédé que ce soit, sans l'autorisation préalable et par écrit de  MommyVille et/ou de ses partenaires est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.</p>
<p>Les marques MommyVille et MommyClub sont des marques déposées par SAS MommyVille. Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces marques, de quelque nature que ce soit, est totalement prohibée.</p>
<p></p>
<span class="anchor" id="liens"></span>
<h2>Liens hypertextes</h2>
<p></p>
<p>Le site  MommyVille peut contenir des liens hypertextes vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site MommyVille.<br/>
Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de MommyVille. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’éditeur. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, MommyVille se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site MommyVille.</p>
<p></p>
<span class="anchor" id="responsabilite"></span>
<h2>Responsabilité de l’éditeur</h2>
<p></p>
<p>Les informations et/ou documents figurant sur ce site et/ou accessibles par ce site proviennent de sources considérées comme étant fiables.<br/>
Toutefois, ces informations et/ou documents sont susceptibles de contenir des inexactitudes techniques et des erreurs typographiques.<br/>
MommyVille se réserve le droit de les corriger, dès que ces erreurs sont portées à sa connaissance.<br/>
Il est fortement recommandé de vérifier l’exactitude et la pertinence des informations et/ou documents mis à disposition sur ce site.<br/>
Les informations et/ou documents disponibles sur ce site sont susceptibles d’être modifiés à tout moment, et peuvent avoir fait l’objet de mises à jour. En particulier, ils peuvent avoir fait l’objet d’une mise à jour entre le moment de leur téléchargement et celui où l’utilisateur en prend connaissance.<br/>
L’utilisation des informations et/ou documents disponibles sur ce site se fait sous l’entière et seule responsabilité de l’utilisateur, qui assume la totalité des conséquences pouvant en découler, sans que MommyVille puisse être recherché à ce titre, et sans recours contre ce dernier.<br/>
MommyVille ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.<br/>
MommyVille ne peut en aucun cas être tenu responsable des propos tenus par ses membres sur le site. Les propos individuels reflètent la pensée personnelle du membre du site mais en aucun cas de la société SAS MommyVille ni de ses dirigeants qui ne sauraient être tenus légalement responsables des propos individuels tenus sur le site.</p>
<p></p>
<span class="anchor" id="acces"></span>
<h2>Accès au site</h2>
<p></p>
<p>L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de MommyVille, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.<br/>
Par conséquent, MommyVille ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis de l’utilisateur que ce soit par des moyens électronique ou téléphonique.</p>
<p>La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.</p>
<p>Par ailleurs, MommyVille peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. L’utilisateur reconnaît et accepte que MommyVille ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour l’utilisateur ou tout tiers.</p>
<p></p>
<span class="anchor" id="modification"></span>
<h2>Modification des conditions d’utilisation</h2>
<p></p>
<p>MommyVille se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.</p>
<p>
<span class="anchor" id="regles"></span>
<h2>Règles d'usage d'Internet</h2>
<p></p>
<p>L’utilisateur déclare accepter les caractéristiques et les limites d’Internet, et notamment reconnaît que :<br>
<ul>
<li>MommyVille n’assume aucune responsabilité sur les services accessibles par Internet et n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur.</li>
<li>L’utilisateur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre les détournements éventuels. La présence du logo   MommyVille institue une présomption simple de validité. La communication de toute information jugée par l’utilisateur de nature sensible ou confidentielle se fait à ses risques et périls.</li>
<li>L’utilisateur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété.</li>
<li>L’utilisateur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet.</li>
<li>L’utilisateur reconnaît que MommyVille ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet.</li>
</ul>
<p></p>
<span class="anchor" id="droit"></span>
<h2>Droit applicable</h2>
<p></p>
<p>Tant le présent site que les modalités et conditions de son utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.<br/>
Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante :<br/>
MommyVille  55 rue la Boétie 75008 PARIS</p>
<p></p>
<span class="anchor" id="charte"></span>
<h2>Charte données personnelles et cookies</h2>
<p>La présente charte (ci-après "la Charte") a pour objet d'informer les utilisateurs (ci-après "l'Utilisateur") du site web et mobile MommyVille.fr (ci-après le " Site") et des applications mobile et tablettes liées (ci-après "les Applications") des moyens mis en œuvre pour :<br/>
<ul>
<li>collecter les données à caractère personnel, conformément à la Loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, dans sa version actuelle (ci-après "Loi Informatique et Libertés") ;</li>
<li>consulter et conserver les informations relatives à la navigation de l'Utilisateur sur le Site susceptibles d'être enregistrées dans des fichiers « cookies » (ci-après les "Cookies").</li>
</ul>
Le responsable de la collecte des données à caractère personnel est la société MommyVille, Société par Actions Simplifiée, immatriculée au Registre du Commerce et des Sociétés de Nanterre, sous le n° : 802 550 582, ayant son siège social au 55 rue la Boétie 75008 PARIS (ci-après l' "Editeur").<br/>
Le Charte peut être modifiée à tout moment par l'Editeur, afin notamment de se conformer à toutes évolutions réglementaires, jurisprudentielles, éditoriales ou techniques. L'Utilisateur doit se référer avant toute navigation à la dernière version de la Charte. La Charte fait partie intégrante des Conditions Générales d'Utilisation du Site.<br/>
Conformément à la Loi Informatique et Libertés, les traitements de données à caractère personnel mis en œuvre par l'Editeur ont été déclarés auprès de la CNIL.</p>
<p></p>
<span class="anchor" id="protection"></span>
<h2>Protection des données</h2>
<p></p>
<p>Lors de l'utilisation du Site et des Applications par l'Utilisateur, des données sont susceptibles d'être collectées et traitées en vue de permettre l'accès aux services du Site et des Applications (ci-après les "Services") à des fins de gestion administrative et commerciale.<br/>
Les données collectées sont les suivantes :<br/>
<ul>
<li><strong>Données du compte de l'Utilisateur ou membre</strong> : désignent les données que l'Utilisateur renseigne lors de la création d'un compte en remplissant le formulaire d'inscription.</li>
<li><strong>Données sur les transactions</strong> : le cas échéant, désignent les données que l'Utilisateur renseigne lorsqu'il effectue des achats par le biais du Site et des Applications telles que notamment son numéro de téléphone, son adresse, son adresse électronique, sa géolocalisation et les renseignements relatifs à son moyen de paiement, en dehors des numéros spécifiques liés à la transaction unitaire.</li>
<li><strong>Données relatives à la navigation</strong> : désignent les données que l'Editeur collecte lors de la navigation de l'Utilisateur sur les Site et les Applications telles que notamment la date, l'heure de la connexion et/ou navigation, le type de navigateur, la langue du navigateur, son adresse IP.</li>
</ul>
L'ensemble des ces données seront collectivement visées ci-après les "Données".<br/>
Les Données recueillies dans le cadre de l'utilisation du Site et des Applications font l'objet d'un traitement dans le but de répondre notamment aux finalités suivantes :<br/>
<ul>
<li>La mise en œuvre du MommyClub et la bonne mise en œuvre des relations pertinentes entre Utilisateurs.</li>
<li>Le fléchage pour les outils MommyPlay, MommyClub, MommyShop et toute autre catégorie du site MommyVille.</li>
<li>La pertinence de l'outil de géolocalisation.</li>
<li>La constitution de fichiers de membres afin d'adresser les bonnes publicités, sponsorisées ou non, à l'Utilisateur.</li>
<li>L'élaboration de statistiques et de mesures de fréquentation.</li>
<li>L'organisation de jeux-concours, loteries et toutes opérations promotionnelles.</li>
<li>La gestion des avis et des sondages des Utilisateurs.</li>
</ul>
Lors de la collecte des Données, l'Utilisateur sera informé si certaines Données doivent être obligatoirement renseignées ou si elles sont facultatives. Les Données identifiées par un astérisque au sein du formulaire d'inscription sont obligatoires. A défaut, l'accès aux Services et leur utilisation par l'Utilisateur sera impossible.<br/>
La base de Données constituée à l'occasion de l'inscription aux Services est strictement confidentielle. L'Editeur s'engage à prendre toutes les précautions utiles, mesures organisationnelles et techniques appropriées pour préserver la sécurité, l'intégrité et la confidentialité des Données.<br/>
Conformément à la réglementation en vigueur, les Données peuvent être transmises aux autorités compétentes sur requête et notamment aux organismes publics, exclusivement pour répondre aux obligations légales, les auxiliaires de justice, les officiers ministériels et les organismes chargés d'effectuer le recouvrement de créances.<br/>
Si l'Utilisateur possède un compte sur des sites des réseaux sociaux et qu'il accède au Site ou aux Applications sans s'être préalablement inscrit aux Services, l'Editeur peut recevoir des informations émanant desdits réseaux sociaux afin de faciliter la création d'un compte sur le Site.<br/>
Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, toute personne physique dispose du droit d'accès et, le cas échéant, la rectification ou la suppression des Données la concernant. L'exercice de ces droits s'effectue à tout moment :<br/>
Les Données des Utilisateurs ne seront pas conservées au-delà de la durée strictement nécessaire aux finalités poursuivies telles qu'énoncées au présentes et ce conformément à la Loi. Les Données de l'Utilisateur sont effacées lorsque les durées de conservations expirent. Néanmoins, les Données pourront être archivées au-delà des durées prévues pour les besoins de la recherche, la constatation, et de la poursuite des infractions pénales dans le seul but de permettre, en tant que besoins, la mise à disposition de ces Données à l'autorité judiciaire. L'archivage implique que ces Données seront anonymisées et ne seront plus consultables en ligne mais seront extraites et conservées sur un support autonome et sécurisé.<br/>
L'Editeur prend des mesures adéquates sur le plan de la technique et de l'organisation pour interdire l'accès non autorisé ou la divulgation des Données de l'Utilisateur. Cependant, l'Editeur ne peut garantir l'élimination de tout risque d'utilisation abusive des Données. Il importe que l'Utilisateur préserve la confidentialité de ses identifiants de façon à empêcher une utilisation illicite de son compte.<br/>
L'Utilisateur est informé et accepte que les différentes Données Publiques soient susceptibles d'être publiées de manière centralisée lors de tout accès d'un Utilisateur à son compte.<br/>
L'Editeur ne peut garantir la confidentialité ni la suppression des Données Publiques dans les parties publiques des Services. L'Editeur ne peut être tenu responsable du "spam" subi par l'Utilisateur des Services qui décide volontairement et spontanément de publier en ligne son adresse email.<br/>
A tout moment, l'Utilisateur peut solliciter la suspension de cette publication, étant précisé que la structure complexe du réseau internet et l'intervention de tiers opérateurs de référencement et/ou de moteurs de recherche sont susceptibles de maintenir la diffusion et l'accès sur internet à certaines Données une fois qu'elle ont été diffusées, et ce indépendamment de la volonté de l'Editeur.</p>
<p></p>
<span class="anchor" id="conduite"></span>
<h2>Chartre de bonne conduite de l'Utilisateur MommyVille</h2>
<p></p>
<p>MommyVille donne à chacun le moyen de s’exprimer sur sa grossesse, sa maternité, sa vie de maman et de femme. Les conversations qui ont lieu sur MommyVille et les opinions qui sont y sont exprimées reflètent la diversité des utilisateurs de MommyVille. 
Protection de l'Utilisateur.<br/>
MommyVille met en relation des mamans ou futures mamans. Les hommes n'ont pas la possibilité de s'inscrire sur le site en mentant sur le genre ou leur position. Il est strictement interdit pour un membre de mettre en place une rencontre avec un autre membre sous de fausse identité, dans des buts de démarchage commercial dissimulé ou avec tout agenda allant à l'encontre de l'esprit de MommyVille qui est l'entraide, le soutien, le réseautage entre mamans.<br/>
MommyVille se réserve le droit absolu de retirer tout contenu, de supprimer des comptes, et de communiquer aux autorités légales toutes les informations en sa possession en cas de comportement ne suivant pas les règles de MommyVille et portant atteinte à l'identité et la sécurité des autres membres.</p>
<p></p>
<span class="anchor" id="violence"></span>
<h2>Violence et harcèlement</h2>
<p></p>
<p>L'Utilisateur ne doit pas menacer autrui ou organiser des actes de violence. Les organisations connues pour des activités terroristes ou criminelles ne sont pas autorisées à utiliser MommyVille. Nous interdisons également la promotion, la planification ou la célébration d’actions qui ont entraîné ou pourraient entraîner une atteinte aux finances d’autrui, y compris du fait de vols ou de vandalisme. MommyVille interdit également l'organisation et la fomentation d'actions visant à heurter volontairement la sensibilité d'autres membres. Le respect et la bienveillance sont les mots clés du bon fonctionnement de MommyVille.<br/>
MommyVille ne tolère pas l’intimidation et le harcèlement. Chacun peut s’exprimer mais nous réagissons fermement en cas de rapports de comportements abusifs à l’encontre d’individus. L’envoi répété d’invitations à entrer en contact ou de messages non sollicités est une forme de harcèlement.<br/>
MommyVille n’accepte pas les discours incitant à la haine et à l'intolérance religieuse, sexuelle, sentimentale, politique, régionale, ou autre. Alors que nous encourageons aux débats et à la discussion des idées, idéologies, événements ou pratiques, nous ne permettons pas l’attaque d’individus ou de groupes sur la base de leur race, ethnicité, origine nationale, religion, sexe, orientation sexuelle, handicap ou état de santé.</p>
<p></p>
<span class="anchor" id="nudite"></span>
<h2>Nudité</h2>
<p></p>
<p>MommyVille interdit la publication de contenus pornographiques et de matériaux de nature sexuelle lorsqu’un mineur est impliqué. Nous imposons également des limites à l’affichage de certaines parties du corps. Les photos graphiques d'organes génitaux ne seront pas autorisées, même à visée médicale, ainsi que toute photo graphique suceptible de choquer les membres de MommyVille.<br/>
Les photos d'enfant et de mère allaitant n'entrent pas dans la règle de protection de nudité, le sein dénudé d'une mère allaitant n'ayant rien de sexuel ni de graphique. Nous sommes par contre sensible à la protection future des enfants de nos membres et de leur possibilité, une fois adultes, de désapprouver de la mise en ligne de photographie d'eux dénudés dans des situations tout à fait respectables (bain, plage, etc). Nous rappelons aux membres qu'il est interdit de poster en ligne des photos d'enfants nus, quelque soit la situation dans laquelle ils se trouvent et à ce titre, MommyVille interdit toute mise en ligne de photo d'enfant ayant les parties génitales dénudées. Nous flouterons systématiquement ces photos afin de protéger les membres ainsi que MommyVille d'éventuelles poursuites judiciaires.</p>
<p></p>
<span class="anchor" id="anonymat"></span>
<h2>Anonymat et respect de la vie privée</h2>
<p>MommyVille est une communauté dans laquelle les gens communiquent en exposant leur identité avec leur prénom mais sans leur nom de famille, seule l'initiale étant demandée à votre inscription. MommyVille impose aux autres utilisateurs de ne pas publier les coordonnées ou d’autres informations personnelles d’autrui sans leur accord. Se faire passer pour quelqu’un d’autre, établir une présence fictive ou créer plusieurs comptes porte atteinte à la communauté MommyVille et est contraire aux conditions d’utilisation de MommyVille et sera passible de la fermeture de tous les comptes reliés à l'adresse IP.<br/>
Vous devez avoir le droit de publier ce que vous publiez sur MommyVille. Nous vous demandons de respecter les droits d’auteur, de marques de commerce et tous autres droits.</p>
<p></p>
<span class="anchor" id="demarchage"></span>
<h2>Démarchage commercial et utilisation du MommyMap</h2>
<p></p>
<p>Il est interdit d’effectuer des transactions comprenant des marchandises réglementées sur MommyVille. Si vous publiez une offre impliquant des armes à feu, de l’alcool, du tabac ou des produits pour adultes, vous devez vous assurer de respecter toutes les lois applicables et étudier soigneusement l’audience à laquelle ce contenu est destiné.<br/>
Les Utilisateurs du MommyMap, commerçants, prestataires, sont libres de communiquer avec les Utilisateurs de MommyVille pour leur faire parvenir des offres promotionnelles à travers la publication d'éléments promotionnels sur leurs pages mais toute transaction, démarchage agressif, négociation, ou spamming sont strictement interdits. Il leur est également interdit d'envoyer des emails groupés aux Utilisateurs fans de leur page dans le but de les démarcher sans passer par l'intermédiaire d'un MommyClub. 
La sécurité des Utilisateurs est une de nos priorités et nous faisons en sorte de les protéger contre toute tentative d’atteinte à la sécurité des comptes ou de la vie privée. Nous vous demandons également de respecter nos membres en vous abstenant de les contacter à des fins commerciales sans leur consentement.<br/>
La sécurité des Utilisateurs de notre service nous tient à cœur et nous faisons en sorte d’empêcher les atteintes à leur vie privée ou à leur sécurité, en raison de fraudes notamment.<br/>
Si vous trouvez sur MommyVille quelque chose qui semble être une violation de nos conditions, nous vous demandons de nous le signaler. Le fait de signaler du contenu ne garantit pas son retrait du site.</p>
<p>En raison de la diversité de notre communauté, il est possible que quelqu’un ou quelque chose ne vous plaise pas, sans pour autant être en infraction avec nos standards. Nous nous réservons la possibilité de modérer, altérer, supprimer tout contenu choquant ou ne respectant pas nos directives, mais nous sommes également sensible à la diversité des Utilisateurs et de leurs opinions.<br/>
Nous interdisons également la mise en ligne de contenus ne respectant pas les règles basiques de grammaire et d'orthographe. Tout contenu rédigé en language phonétique ou type SMS sera réécrit par nos modérateurs sans que l'Utilisateur en soit informé au préalable. L'Utilisateur recevra un avertissement lui rappelant les règles de bonne rédaction de MommyVille. Au delà de plusieurs réécritures ou d'une réécriture systématique, l'Utilisateur ne pourra plus poster.</p>
<p><strong>Gardez toujours à l'esprit que Respect et Bienveillance sont les mots clés d'une utilisation pérenne de MommyVille.</strong></p>
<p></p>
</div>
</div>
</div>