<div class='block'>
	<div class='content'>
		<h1 class='without-avatar'>Voici tous les membres de votre réseau MommyVille</h1>
		<div>
			{% for member in network %}
			<div class='member-id' data-id='{{ member.id }}'></div>
			{% endfor %}
		</div>
	</div>
</div>
<script>
$(document).on('click', ".add-friend", function(event) {
	event.stopPropagation();
	event.preventDefault();
	$("#loading").show();
	var id = $(this).attr('data-id');
	$.ajax({
		url: '/profil/amis/ajouter/'+id,
		type: 'GET',
	})
	.done(function (data) {
		$("#loading").hide();
	})
	.fail(function (xhr, status, error) {
console.log(xhr.responseText);
		$("#loading").hide();
	});
});
$(".member-id").each(function() {
	var elt = $(this);
	var id = elt.attr('data-id');
	$("#loading").show();
	$.ajax({
		url: '/profil/fiche/'+id,
		type: 'GET',
	})
	.done(function (user) {
		if (user.photo)
			var div = "<img src='"+user.photo+"' class='left vignette' />";
		else
			var div = "<img src='/img/logos/mv-landeau-1000x1077.jpg' class='left vignette' />"
		div += "<h1 class='dark'>"+user.name+"</h1>"
			+ "<p>"+user.age+" ans"
			+ "<br/>"+user.title;
		if (user.city)
			div += '<br/>'+user.city;
		div += "<div class='add-contact'><span data-id='"+user.id+"' class='add-friend' title='Ajouter à vos amies'></span></div>";
		div += "<div class='compatibility'>"+user.compatible+" %</div>";
		elt.append(div);
		$("#loading").hide();
		$(".add-friend").tooltip();
		$(".add-network").tooltip();
	})
	.fail(function (xhr, status, error) {
console.log(xhr.responseText);
		$("#loading").hide();
	});
	elt.click(function(event) {
		if ((event.target.className != 'add-network') && (event.target.className != 'add-friend'))
			window.location.hash = '#/profil/voir/'+id;
	})
});
$(".info").tooltip();
</script>