<div class='content' style='min-height: 434px;'>
	<img class='left' alt='' src="{{ asset('/img/probleme.jpg') }}" />
	<h1 class='without-avatar'>Un erreur 404 s'est produite</h1>
	<h2>qu'est-ce que c'est "une erreur 404" ?</h2>
	<p>Cela signifie :<br/>
	La page demandée n'existe pas.<br/>
	<br/>
	Pour vous, ca ne veut peut-être pas dire grand chose, mais n'ayez crainte, nous sommes déjà au courant, nous savons l'interprêter et travaillons sur ce problème.<br/>
	<br/>
	Vous pouvez retourner l'accueil de MommyVille en cliquant <a href='/'>ici</a>.</p>
</div>