<h1>Mommy<span>Sondage</span></h1>
<div class='left-block'>
<p>Pensez-vous que la garde alternée soit bénéfique pour les enfants de 6 ans et + ?</p>
<p>
	{{ form_widget(form.oui) }} oui<br/>
	{{ form_widget(form.non) }} non<br/>
	{{ form_widget(form.inconnu) }} j'en n'ai pas la moindre idée, je laisse les pros décider<br/>
</p>
</div>
<div style='width:100%;text-align:right;'>
	<span class='hint'>Tous les messages sur MommyPlay</span><br/>
	<img src='/img/icones/prev-normal.png' /> <img src='/img/icones/next-over.png' />
</div>
<div class='clear'></div>