<div class='block'>
<div class='content'>
<h1>Mentions légales</h1>
<p></p>
<p>Le site MommyVille est édité par:</p>
<blockquote><p><strong>SAS MommyVille</strong><br/>
<br/>
55 rue la Boétie<br/>
75008 PARIS<br/>
<br/>
Société par Actions Simplifiée au capital de 1000 euros <br/>
RCS Paris 802 550 582<br/>
<br/>
Directrice de la publication: Carole Juge<br/>
Email: <a href="mailto:contact@mommyville.fr">contact@mommyville.fr</a><br/>
Téléphone: 01 71 28 94 74</p>
</blockquote>
<p></p>
<p>Le site MommyVille.fr est hébergé par :</p>
<blockquote>
<img src="{{ asset('/img/numergy-60x60.png') }}" alt="Numergy" align="left" />
<p><strong>Numergy</strong><br/>
<br/>
25 rue Madeleine Vionnet<br/>
93300 AUBERVILLIERS<br/>
<br/>
SIRET: FR88753105956<br/>
<br/>
<br/>
<br/>
Site: <a href="http://www.numergy.fr/">http://www.numergy.fr/</a></p>
</blockquote>
<p></p>
<p>Les mails MommyVille.fr sont opérés par :</p>
<blockquote>
<img src="{{ asset('/img/ovh-60x60.png') }}" alt="OVH" align="left" />
<p><strong>OVH</strong><br/>
<br/>
2 rue Kellermann<br/>
59100 ROUBAIX<br/>
<br/>
SIRET: FR22424761419<br/>
<br/>
<br/>
<br/>
Site: <a href="http://www.ovh.fr/">http://www.ovh.fr/</a></p>
</blockquote>
<p></p>
<p>Les fichiers joints (photos, images, ...) des utilisateurs du site MommyVille.fr sont hébergés par :</p>
<blockquote>
<img src="{{ asset('/img/aws-60x60.png') }}" alt="Amazon Web Services" align="left" />
<p><strong>Amazon Web Services</strong><br/>
<br/>
410 Terry Avenue North<br/>
Seattle, WA 98109-5210, USA<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
Site: <a href="http://aws.amazon.com/fr/">http://aws.amazon.com/fr/</a></p>
</blockquote>
<p></p>
<p>Ce site respecte le droit d'auteur. Tous les droits des auteurs des œuvres protégées reproduites et communiquées sur ce site, sont réservés. Sauf autorisation, toute utilisation des œuvres autres que la reproduction et la consultation individuelles et privées sont interdites.</p>
<p>Conformément à la loi du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, ce site web a fait l'objet d'une déclaration auprès de la Commission Nationale Informatique et Libertés (CNIL), qui en a délivré récépissé à la date du 07/07/2014.</p>
<p></p>
<p><em>A la mémoire de Shera.</em></p>
<p></p>
</div>
</div>