<div class='block'>
<div class='content'>
<div class='right' id='summary'>
	<h2>Accès rapide :</h2>
	<ol>
		<li><a href="#protection">Protection de l'Utilisateur</a></li>
		<li><a href="#violence">Violence et harcèlement</a></li>
		<li><a href="#nudite">Nudité</a></li>
		<li><a href="#anonymat">Anonymat et respect de la vie privée</a></li>
		<li><a href="#demarchage">Démarchage commercial et utilisation du MommyMap</a></li>
	</ol>
</div>
<div class='with-summary'>
<h1 class='without-avatar'>Chartre de bonne conduite de l'Utilisateur MommyVille</h1>
<p></p>
<p>MommyVille donne à chacun le moyen de s’exprimer sur sa grossesse, sa maternité, sa vie de maman et de femme. Les conversations qui ont lieu sur MommyVille et les opinions qui sont y sont exprimées reflètent la diversité des utilisateurs de MommyVille. Il est donc indispensable que chaque membre montre du respect et de la bienveillance envers tous les membres et la diversité des opinions exprimées.</p>
<p></p>
<span class="anchor" id="protection"></span>
<h2>Protection de l'Utilisateur</h2>
<p></p>
<p>MommyVille met en relation des mamans ou futures mamans. Les hommes n'ont pas la possibilité de s'inscrire sur le site en mentant sur le genre ou leur position. Il est strictement interdit pour un membre de mettre en place une rencontre avec un autre membre sous de fausse identité, dans des buts de démarchage commercial dissimulé ou avec tout agenda allant à l'encontre de l'esprit de MommyVille qui est l'entraide, le soutien, le réseautage entre mamans.</p>
<p>
MommyVille se réserve le droit absolu de retirer tout contenu, de supprimer des comptes, et de communiquer aux autorités légales toutes les informations en sa possession en cas de comportement ne suivant pas les règles de MommyVille et portant atteinte à l'identité et la sécurité des autres membres.</p>
<p></p>
<span class="anchor" id="violence"></span>
<h2>Violence et harcèlement</h2>
<p></p>
<p>L'Utilisateur ne doit pas menacer autrui ou organiser des actes de violence. Les organisations connues pour des activités terroristes ou criminelles ne sont pas autorisées à utiliser MommyVille. Nous interdisons également la promotion, la planification ou la célébration d’actions qui ont entraîné ou pourraient entraîner une atteinte à autrui. MommyVille interdit également l'organisation et la fomentation d'actions visant à heurter volontairement la sensibilité d'autres membres. Le respect et la bienveillance sont les mots clés du bon fonctionnement de MommyVille.</p>
<p>
MommyVille ne tolère pas l’intimidation et le harcèlement. Chacun peut s’exprimer mais nous réagissons fermement en cas de rapports de comportements abusifs à l’encontre d'autres membres. L’envoi répété d’invitations à entrer en contact ou de messages non sollicités est considéré comme une forme de harcèlement.</p>
<p>
MommyVille n’accepte pas les discours incitant à la haine et à l'intolérance religieuse, sexuelle, sentimentale, politique, régionale, ou autre. Alors que nous encourageons aux débats et à la discussion des idées, idéologies, événements ou pratiques, nous ne permettons pas l’attaque d’individus ou de groupes sur la base de leur race, ethnicité, origine nationale, religion, sexe, orientation sexuelle, handicap ou état de santé.</p>
<p></p>
<span class="anchor" id="nudite"></span>
<h2>Nudité</h2>
<p></p>
<p>MommyVille interdit la publication de contenus pornographiques et de matériaux de nature sexuelle. Nous imposons également des limites à l’affichage de certaines parties du corps. Les photos graphiques d'organes génitaux, même à visée médicale, ne seront pas autorisées ainsi que toute photo graphique susceptible de choquer les membres de MommyVille.</p>
<p>
Les photos d'enfant et de mère allaitant n'entrent pas dans la règle de protection de nudité, le sein dénudé d'une mère allaitant n'ayant rien de sexuel ni de graphique.</p>
<p>
Nous sommes par contre sensible à la protection future des enfants de nos membres et de leur possibilité, une fois adultes, de désapprouver la mise en ligne de photographies d'eux dénudés dans des situations jugées cependant tout à fait respectables (bain, plage, etc). Nous rappelons aux membres qu'il est interdit de poster en ligne des photos d'enfants nus, quelque soit la situation dans laquelle ils se trouvent et à ce titre, MommyVille interdit toute mise en ligne de photo d'enfant ayant les parties génitales dénudées afin de protéger les membres ainsi que MommyVille d'éventuelles poursuites judiciaires.</p>
<p></p>
<span class="anchor" id="anonymat"></span>
<h2>Anonymat et respect de la vie privée</h2>
<p></p>
<p>MommyVille est une communauté dans laquelle les gens communiquent en exposant leur identité avec leur prénom mais sans leur nom de famille, seule l'initiale étant publiée sur votre profil.</p>
<p>
MommyVille impose aux autres utilisateurs de ne pas publier les coordonnées ou d’autres informations personnelles d’autrui sans leur accord. Se faire passer pour quelqu’un d’autre, établir une présence fictive ou créer plusieurs comptes porte atteinte à la communauté MommyVille et est contraire aux conditions d’utilisation de MommyVille et sera passible de la fermeture de tous les comptes reliés à l'adresse IP.</p>
<p>
Vous devez avoir le droit de publier ce que vous publiez sur MommyVille. Nous vous demandons de respecter les droits d’auteur, de marques de commerce et tous autres droits.</p>
<p>
<p></p>
<span class="anchor" id="demarchage"></span>
<h2>Démarchage commercial et utilisation du MommyMap</h2>
<p></p>
<p>Il est interdit d’effectuer des transactions comprenant des marchandises réglementées sur MommyVille.</p>
<p>Les Utilisateurs du MommyMap, commerçants, prestataires, sont libres de communiquer avec les membres de MommyVille pour leur faire parvenir des offres promotionnelles à travers la publication d'éléments promotionnels sur leurs pages mais toute transaction, démarchage agressif, négociation, ou spamming sont strictement interdits. Il leur est également interdit d'envoyer des emails groupés aux membres fans de leur page dans le but de les démarcher sans passer par l'intermédiaire d'un MommyClub ou d'une structure régentée par MommyVille.</p>
<p></p>
<p>Si vous trouvez sur MommyVille quelque chose qui semble être une violation de nos conditions, nous vous demandons de nous le signaler. Le fait de signaler du contenu ne garantit pas son retrait du site.</p>
<p>En raison de la diversité de notre communauté, il est possible que quelqu’un ou quelque chose ne vous plaise pas, sans pour autant être en infraction avec nos standards. Nous nous réservons la possibilité de modérer, altérer, supprimer tout contenu choquant ou ne respectant pas nos directives, mais nous sommes également sensible à la diversité de nos membres et de leurs opinions.>br/>
Nous interdisons également la mise en ligne de contenus ne respectant pas les règles basiques de grammaire et d'orthographe. Tout contenu rédigé en langage phonétique type SMS sera réécrit par nos modérateurs sans nécessiter l'autorisation de l'utilisateur. L'utilisateur recevra un avertissement lui rappelant les règles de bonne rédaction de MommyVille. Au delà de plusieurs réécritures par modérateur ou d'une réécriture systématique, l'autorisation de poster de l'utilisateur sera révoquée.</p>
<p>
<p></p>
<p><strong>Gardez toujours à l'esprit que Respect et Bienveillance sont les mots clés d'une utilisation pérenne de MommyVille.</strong></p>
<p></p>
</div>
</div>
</div>