<h1>Mes <span>Albums</span></h1>
<p><img src='/img/albums.png' /></p>
<p><span class='add-friend'></span> Nouvel album</p>
<p><a href='#/profile/albums' class='dark'>Voir tous mes albums</a>
<div class='clear'></div>