<h1>Mommy<span>Ask</span></h1>
<div class='left-block'>
	<img src='/img/morgane_la_poupee-60x60.jpg' class='vignette left' />
	Impossible de calmer Sacha, 8 mois, après chaque tétée. Il refuse de s'endormir, c'est l'enfer... des idées ?
	<div style='width:100%;text-align:right;'><h2>Sarah D.</h2></div>
	<p class='comments'><span class='like' ></span> <span >11</span> <a class='comment'>Répondre</span> (<span>2</span>)</a></p>
	<div class='left-comment'>
		<h2>Claire J.</h2>
		As-tu essayé de lui masser le ventre ? <span class='left-comment-date'>21 Septembre</span><br/>
	</div>
	<div class='left-comment'>
		<h2>Sandy P.</h2>
		Pour ma fille c'était pareil, je lui chantais des berçeuses et ça la calmait <span class='left-comment-date'>22 Septembre</span><br/>
	</div>
</div>
<div style='width:100%;text-align:right;'>
	<span class='hint'>Tous les questions sur MommyClub</span><br/>
	<img src='/img/icones/prev-normal.png' /> <img src='/img/icones/next-over.png' />
</div>
<div class='clear'></div>